							<!-- comments form start -->
							<div class="comments-form">
								<h2 class="title">Add your comment</h2>

								<form role="form" action="add_comment" id="comment-form">
									<div class="form-group has-feedback">
										<label for="title">Subject</label>
										<input type="text" class="form-control" id="title" placeholder="" name="title" required>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label for="desc">Message</label>
										<textarea class="form-control" rows="8" id="desc" placeholder="" name="desc" required></textarea>
										<i class="fa fa-envelope-o form-control-feedback"></i>
									</div>
									<input type="submit" value="Submit" class="btn btn-default">
								</form>
							</div>
							<!-- comments form end -->

