<div class="col-sm-6"> 
		<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Top Looser (NSE)</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-hover ">
						<thead>
							<tr> <th>Company</th> <th>Current</th> <th>Loss</th> </tr>
						</thead>
						<tbody>
						<% @market["TopLooser"].each do |gainer| %>
							<tr>
								<td><%= gainer["Company"] %></td>
								<td><%= gainer["CurrentPrice"] %></td>
								<td><%= gainer["LossPercentage"] %> %</td>
							</tr>
						<% end %>
						</tbody>
					</table>
				</div>
			</div>
	</div>
