								<footer class="clearfix">
									<ul class="links pull-left">
										<li><i class="fa fa-comment-o pr-5"></i> <a href="#"><%= @article.comment_count %></a> </li> 
										<!--li> <i class="fa fa-thumbs-o-up"></i> <a href="#"><%#= @blog.liker_count %></a>|</li>
										<li id="like_and_follow">
											<%#= link_to @like_toggle, {action: 'like_or_unlike', id: @blog.id}, remote: true if current_user%>
											<%#= link_to @follow_toggle, {action: 'follow_or_unfollow', id: @blog.id}, remote: true if current_user%>
										</li>
										<li><%#= @blog.follower_count %> followers</li-->
									</ul>
								</footer>

