														<a href="/theme/idea/shop-listing-3col.html" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
														<ul class="dropdown-menu">
															<li><a href="/theme/idea/index-shop.html">Shop - Home <span class="default-bg badge">New</span></a></li>
															<li><a href="/theme/idea/shop-listing-3col.html">Shop - 3 Columns</a></li>
															<li><a href="/theme/idea/shop-listing-4col.html">Shop - 4 Columns</a></li>
															<li><a href="/theme/idea/shop-listing-sidebar.html">Shop - With Sidebar</a></li>
															<li><a href="/theme/idea/shop-product.html">Product</a></li>
															<li><a href="/theme/idea/shop-cart.html">Shopping Cart</a></li>
															<li><a href="/theme/idea/shop-checkout.html">Checkout Page - Step 1</a></li>
															<li><a href="/theme/idea/shop-checkout-payment.html">Checkout Page - Step 2</a></li>
															<li><a href="/theme/idea/shop-checkout-review.html">Checkout Page - Step 3</a></li>
														</ul>
