														<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
														<ul class="dropdown-menu">
															<li>
																<div class="row">
																	<div class="col-lg-4 col-md-3 hidden-sm">
																		<h4>Premium HTML5 Template</h4>
																		<p>iDea is perfectly suitable for corporate, business and company webpages.</p>
																		<img src="/theme/idea/images/section-image-3.png" alt="iDea">
																	</div>
																	<div class="col-lg-8 col-md-9">
																		<h4>Pages</h4>
																		<div class="row">
																			<div class="col-sm-4">
																				<div class="divider"></div>
																				<ul class="menu">
																					<li><a href="/theme/idea/page-about.html"><i class="icon-right-open"></i>About Us</a></li>
																					<li><a href="/theme/idea/page-about-2.html"><i class="icon-right-open"></i>About Us 2</a></li>
																					<li><a href="/theme/idea/page-about-3.html"><i class="icon-right-open"></i>About Us 3</a></li>
																					<li><a href="/theme/idea/page-about-me.html"><i class="icon-right-open"></i>About Me</a></li>
																					<li><a href="/theme/idea/page-team.html"><i class="icon-right-open"></i>Our Team - Options</a></li>
																					<li><a href="/theme/idea/page-services.html"><i class="icon-right-open"></i>Services</a></li>
																				</ul>
																			</div>
																			<div class="col-sm-4">
																				<div class="divider"></div>
																				<ul class="menu">
																					<li><a href="/theme/idea/page-contact.html"><i class="icon-right-open"></i>Contact</a></li>
																					<li><a href="/theme/idea/page-contact-2.html"><i class="icon-right-open"></i>Contact 2</a></li>
																					<li><a href="/theme/idea/page-coming-soon.html"><i class="icon-right-open"></i>Coming Soon Page</a></li>
																					<li><a href="/theme/idea/page-404.html"><i class="icon-right-open"></i>404 error</a></li>
																					<li><a href="/theme/idea/page-faq.html"><i class="icon-right-open"></i>FAQ page</a></li>
																					<li><a href="/theme/idea/page-affix-sidebar.html"><i class="icon-right-open"></i>Sidebar - Affix Menu</a></li>
																				</ul>
																			</div>
																			<div class="col-sm-4">
																				<div class="divider"></div>
																				<ul class="menu">
																					<li><a href="/theme/idea/page-left-sidebar.html"><i class="icon-right-open"></i>Left Sidebar</a></li>
																					<li><a href="/theme/idea/page-right-sidebar.html"><i class="icon-right-open"></i>Right Sidebar</a></li>
																					<li><a href="/theme/idea/page-two-sidebars.html"><i class="icon-right-open"></i>Two Sidebars</a></li>
																					<li><a href="/theme/idea/page-no-sidebar.html"><i class="icon-right-open"></i>No Sidebars</a></li>
																					<li><a href="/theme/idea/page-sitemap.html"><i class="icon-right-open"></i>Sitemap</a></li>
																					<li><a href="/theme/idea/page-invoice.html"><i class="icon-right-open"></i>Invoice <span class="badge">v1.1</span></a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
