														<a href="/theme/idea/blog-right-sidebar.html" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
														<ul class="dropdown-menu">
															<li><a href="/theme/idea/blog-right-sidebar.html">Blog Right Sidebar</a></li>
															<li><a href="/theme/idea/blog-left-sidebar.html">Blog Left Sidebar</a></li>
															<li><a href="/theme/idea/blog-no-sidebar.html">Blog No Sidebars</a></li>
															<li><a href="/theme/idea/blog-masonry.html">Blog Masonry</a></li>
															<li><a href="/theme/idea/blog-masonry-sidebar.html">Blog Masonry - Sidebar</a></li>
															<li><a href="/theme/idea/blog-timeline.html">Blog Timeline</a></li>
															<li><a href="/theme/idea/blog-post.html">Blog post</a></li>
														</ul>
