<a href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
<ul class="dropdown-menu">
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Email Templates <span class="default-bg badge">v1.1</span></a>
<ul class="dropdown-menu">
<li><a target="_blank" href="/theme/idea/email_templates/email_template_red.html">Email Template Red</a></li>
<li><a target="_blank" href="/theme/idea/email_templates/email_template_blue.html">Email Template Blue</a></li>
<li><a target="_blank" href="/theme/idea/email_templates/email_template_brown.html">Email Template Brown</a></li>
<li><a target="_blank" href="/theme/idea/email_templates/email_template_dark_cyan.html">Email Template Dark Cyan</a></li>
<li><a target="_blank" href="/theme/idea/email_templates/email_template_dark_gray.html">Email Template Dark Gray</a></li>
<li><a target="_blank" href="/theme/idea/email_templates/email_template_dark_red.html">Email Template Dark Red</a></li>
<li><a target="_blank" href="/theme/idea/email_templates/email_template_green.html">Email Template Green</a></li>
<li><a target="_blank" href="/theme/idea/email_templates/email_template_light_blue.html">Email Template Light Blue</a></li>
<li><a target="_blank" href="/theme/idea/email_templates/email_template_light_green.html">Email Template Light Green</a></li>
<li><a target="_blank" href="/theme/idea/email_templates/email_template_orange.html">Email Template Orange</a></li>
<li><a target="_blank" href="/theme/idea/email_templates/email_template_pink.html">Email Template Pink</a></li>
<li><a target="_blank" href="/theme/idea/email_templates/email_template_purple.html">Email Template Purple</a></li>
<li><a target="_blank" href="/theme/idea/email_templates/email_template_yellow.html">Email Template Yellow</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Headers <span class="default-bg badge">New</span></a>
<ul class="dropdown-menu">
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Layouts <span class="default-bg badge">v1.1</span></a>
<ul class="dropdown-menu">
<li><a href="/theme/idea/features-header-1.html">Light - Layout 1 (Default)</a></li>
<li><a href="/theme/idea/features-header-2.html">Light - Layout 2</a></li>
<li><a href="/theme/idea/features-header-3.html">Light - Layout 3</a></li>
<li><a href="/theme/idea/features-header-1-dark.html">Dark - Layout 1 <span class="default-bg badge">v1.1</span></a></li>
<li><a href="/theme/idea/features-header-2-dark.html">Dark - Layout 2 <span class="default-bg badge">v1.1</span></a></li>
<li><a href="/theme/idea/features-header-3-dark.html">Dark - Layout 3 <span class="default-bg badge">v1.1</span></a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Transparent <span class="default-bg badge">New</span></a>
<ul class="dropdown-menu">
<li><a href="/theme/idea/features-header-transparent.html">Light Version</a></li>
<li><a href="/theme/idea/features-header-transparent-dark.html">Dark Version</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Left Side Header  <span class="default-bg badge">New</span></a>
<ul class="dropdown-menu">
<li><a href="/theme/idea/features-header-offcanvas-left.html">Light Version </a></li>
<li><a href="/theme/idea/features-header-offcanvas-left-dark.html">Dark Version </a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Right Side Header <span class="default-bg badge">New</span></a>
<ul class="dropdown-menu">
<li><a href="/theme/idea/features-header-offcanvas-right.html">Light Version </a></li>
<li><a href="/theme/idea/features-header-offcanvas-right-dark.html">Dark Version </a></li>
</ul>
</li>
</ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Footers</a>
<ul class="dropdown-menu">
<li><a href="/theme/idea/features-footer-1.html#footer">Footer 1 (Default)</a></li>
<li><a href="/theme/idea/features-footer-2.html#footer">Footer 2</a></li>
<li><a href="/theme/idea/features-footer-3.html#footer">Footer 3</a></li>
<li><a href="/theme/idea/features-footer-4.html#footer">Footer 4</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Login/Sign Up <span class="default-bg badge">New</span></a>
<ul class="dropdown-menu">
<li><a href="/theme/idea/page-login.html">Login</a></li>
<li><a href="/theme/idea/page-signup.html">Sign Up</a></li>
<li><a href="/theme/idea/page-login-2.html">Login Fullscreen</a></li>
<li><a href="/theme/idea/page-signup-2.html">Sign Up Fullscreen</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pricing tables</a>
<ul class="dropdown-menu">
<li><a href="/theme/idea/features-pricing-tables-1.html">Pricing Tables 1</a></li>
<li><a href="/theme/idea/features-pricing-tables-2.html">Pricing Tables 2</a></li>
<li><a href="/theme/idea/features-pricing-tables-3.html">Pricing Tables 3</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Icons</a>
<ul class="dropdown-menu">
<li><a href="/theme/idea/features-icons-fontawesome.html">Font Awesome Icons</a></li>
<li><a href="/theme/idea/features-icons-fontello.html">Fontello Icons</a></li>
<li><a href="/theme/idea/features-icons-glyphicons.html">Glyphicons Icons</a></li>
</ul>
</li>															
<li><a href="/theme/idea/features-typography.html">Typography</a></li>
<li><a href="/theme/idea/features-backgrounds.html">Backgrounds</a></li>
<li><a href="/theme/idea/features-background-patterns.html">Patterns <span class="default-bg badge">New</span></a></li>
<li><a href="/theme/idea/features-testimonials.html">Testimonials</a></li>
<li><a href="/theme/idea/features-grid.html">Grid System</a></li>
</ul>
