                            <a href="/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                            <ul class="dropdown-menu">
                              <li><a href="/">Home - Default</a></li>
                              <li class="active"><a href="/theme/idea/index-2.html">Home - 2</a></li>
                              <li><a href="/theme/idea/index-3.html">Home - 3</a></li>
                              <li><a href="/theme/idea/index-4.html">Home - 4</a></li>
                              <li><a href="/theme/idea/index-5.html">Home - 5</a></li>
                              <li><a href="/theme/idea/index-6.html">Home - 6 <span class="badge">New</span></a></li>
                              <li><a href="/theme/idea/index-7.html">Home - 7 <span class="badge">New</span></a></li>
                              <li><a href="/theme/idea/index-shop.html">Home - Shop <span class="badge">New</span></a></li>
                              <li><a href="/theme/idea/index-one-page.html">One Page Version</a></li>
                              <li><a href="/theme/idea/index-boxed-slideshow.html">Home - Boxed Slider</a></li>
                              <li><a href="/theme/idea/index-no-slideshow.html">Home - Without Slider</a></li>
                            </ul>

