                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loans</a>
                            <ul class="dropdown-menu">
                              <li><%= link_to "Business Banking" , '/checklist/hdfc_bbs'%></a></li>
                            </ul>

