														<a href="#" class="dropdown-toggle" data-toggle="dropdown">Components</a>
														<ul class="dropdown-menu">
															<li>
																<div class="row">
																	<div class="col-sm-4 col-md-6">
																		<h4>iDea - Powerful Bootstrap Theme</h4>
																		<p>iDea is a Clean and Super Flexible Bootstrap Theme with many Features and Unlimited options.</p>
																		<img src="/theme/idea/images/section-image-1.png" alt="image-1">
																	</div>
																	<div class="col-sm-8 col-md-6">
																		<h4>Components</h4>
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="divider"></div>
																				<ul class="menu">
																					<li><a href="/theme/idea/components-tabs-and-pills.html"><i class="icon-right-open"></i>Tabs &amp; Pills</a></li>
																					<li><a href="/theme/idea/components-accordions.html"><i class="icon-right-open"></i>Accordions</a></li>
																					<li><a href="/theme/idea/components-social-icons.html"><i class="icon-right-open"></i>Social Icons</a></li>
																					<li><a href="/theme/idea/components-buttons.html"><i class="icon-right-open"></i>Buttons</a></li>
																					<li><a href="/theme/idea/components-forms.html"><i class="icon-right-open"></i>Forms</a></li>
																					<li><a href="/theme/idea/components-progress-bars.html"><i class="icon-right-open"></i>Progress bars</a></li>
																					<li><a href="/theme/idea/components-alerts-and-callouts.html"><i class="icon-right-open"></i>Alerts &amp; Callouts</a></li>
																					<li><a href="/theme/idea/components-content-sliders.html"><i class="icon-right-open"></i>Content Sliders</a></li>
																				</ul>
																			</div>
																			<div class="col-sm-6">
																				<div class="divider"></div>
																				<ul class="menu">
																					<li><a href="/theme/idea/components-lightbox.html"><i class="icon-right-open"></i>Lightbox</a></li>
																					<li><a href="/theme/idea/components-icon-boxes.html"><i class="icon-right-open"></i>Icon Boxes</a></li>
																					<li><a href="/theme/idea/components-image-boxes.html"><i class="icon-right-open"></i>Image Boxes</a></li>
																					<li><a href="/theme/idea/components-video-and-audio.html"><i class="icon-right-open"></i>Video &amp; Audio</a></li>
																					<li><a href="/theme/idea/components-modals.html"><i class="icon-right-open"></i>Modals</a></li>
																					<li><a href="/theme/idea/components-animations.html"><i class="icon-right-open"></i>Animations</a></li>
																					<li><a href="/theme/idea/components-counters.html"><i class="icon-right-open"></i>Counters</a></li>
																					<li><a href="/theme/idea/components-tables.html"><i class="icon-right-open"></i>Tables</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
