<ul class="dropdown-menu dropdown-menu-right dropdown-animation">
    <li> <%= link_to "Edit Profile", edit_user_registration_path %></li>
    <li> <%=link_to("LogOut", destroy_user_session_path, :method => :delete) %></li>
</ul>
