			<!-- footer start (Add "light" class to #footer in order to enable light footer) -->
			<!-- ================ -->
			<footer id="footer">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-10">
								<div class="footer-content">
									<div class="row">
										<div class="col-sm-4">
											<ul class="social-links circle">
												<li class="facebook"><a target="_blank" href="https://www.facebook.com/latestkhabarnew"><i class="fa fa-facebook"></i></a></li>
												<li class="twitter"><a target="_blank" href="https://twitter.com/latest_khabar"><i class="fa fa-twitter"></i></a></li>
												<li class="googleplus"><a target="_blank" href="https://plus.google.com/collection/8hQllB"><i class="fa fa-google-plus"></i></a></li>
												<li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/13443450"><i class="fa fa-linkedin"></i></a></li>
												<!-- li class="instagram"><a href="http://www.instagram.com/vishalpundir" target="_blank"><i class="fa fa-instagram"></i></a></li -->
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="list-icons">
												<li><i class="fa fa-map-marker pr-10"></i> Mumbai, Maharashtra, India</li>
												<li><i class="fa fa-envelope-o pr-10"></i> <a href="mailto:latestkhabar.in@gmail.com">latestkhabar.in@gmail.com</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											 <p id="time_footer"></p>
										</div>	
									</div>
								</div>
							</div>
							<div class="space-bottom hidden-lg hidden-xs"></div>
							</div>
						<div class="space-bottom hidden-lg hidden-xs"></div>
					</div>
				</div>
				<!-- .footer end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<p>Copyright ©2017 <a target="_blank" href="http://latestkhabar.in">Latest Khabar</a>. All Rights Reserved</p>
							</div>
							<div class="col-md-6">
								<nav class="navbar navbar-default" role="navigation">
									<!-- Toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>   
									<div class="collapse navbar-collapse" id="navbar-collapse-2">
										<ul class="nav navbar-nav">
											<%= render partial: "layouts/links" %>
										</ul>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->
